.diversity {
  text-align: left;
  .line-divider {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #dce0e0;
  }
  .photo-section {
    background-image: url(../../images/diversity/photo-section.jpg);
    height: 500px;
    background-size: cover;
    padding-bottom: 18px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 6px;
    display: block;
    vertical-align: bottom;
    overflow: hidden;
    background-color: #bbb;
    backface-visibility: hidden;
    position: relative;
  }
  .photo-section2 {
    background-image: url(../../images/diversity/photo-section2.jpeg);
    height: 500px;
    background-size: cover;
    padding-bottom: 18px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 6px;
    display: block;
    vertical-align: bottom;
    overflow: hidden;
    background-color: #bbb;
    backface-visibility: hidden;
    position: relative;
  }
  .page-container {
    width: 1080px;
    padding: 0 24px;
    margin: 0 auto;
  }
  .cover-image {
    .cover-image-header-container {
      height: 565px;
      margin-bottom: 6px;
      display: block;
      position: relative;
      vertical-align: bottom;
      overflow: hidden;
      backface-visibility: hidden;
      .cover-photo {
        &:after {
          background: #000;
          opacity: 0.3;
          content: " ";
        }
        background-image: url(../../images/diversity/cover-image.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      .cover-image-header {
        width: 100%;
        height: 100%;
        display: table;
        position: relative;
        .cover-image-text-wrapper {
          vertical-align: middle;
          display: table-cell;
          color: #fff;
          margin-left: 12px;
          margin-right: -12px;
          &:before {
            content: " ";
            display: table;
          }
          .cover-image-text {
            width: 42%;
            float: left;
            margin-left: 14%;
            padding: 0 12px;
            h2 {
              font-weight: 700;
              line-height: 1.27;
              letter-spacing: -0.9px;
              font-size: 44px;
              margin-top: 0;
              margin-bottom: 15px;
              text-align: left;
            }
            p {
              font-family: 'CircularAirPro-Book';
              font-size: 22px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.27;
              letter-spacing: -0.2px;
              color: #fff;
              margin-top: 0;
              margin-bottom: 15px;
              text-align: left;
            }
          }
        }
      }
    }
  }
  .quote-section {
    margin-top: 64px;
    &:before {
      content: " ";
      display: table;
    }
    .quote-section-wrapper {
      padding: 0 12px;
      margin: 0 auto;
      .quote {
        margin: 0 auto;
        word-wrap: break-word;
        font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.45em;
        color: #484848;
        float: none;
      }
      .avatar-wrapper {
        margin: 0 auto;
        margin-top: 32px;
        margin-bottom: 16px;
        height: 64px;
        width: 64px;
        display: block;
        position: relative;
        img {
          height: 100%;
          width: 100%;
          background-color: #D8D8D8;
          border-radius: 50%;
          border-color: #ffffff;
          border-width: 2px;
          border-style: solid;
          vertical-align: middle;
          overflow: hidden;
          display: block;

        }
      }
      .name {
        margin: 0;
        word-wrap: break-word;
        font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2857142857142858em;
        color: #484848;
      }
    }
  }
  .discrimination-section {
    margin-bottom: 64px;
    text-align: left;
    &__heading {
      border-bottom: 0;
      padding-top: 24px;
      padding-bottom: 24px;
      div {
        margin: 0;
        word-wrap: break-word;
        font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
        font-size: 32px;
        font-weight: 800;
        line-height: 1.125em;
        color: #484848;
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }
    &__para {
      margin-bottom: 16px;
      div {
        margin: 0;
        word-wrap: break-word;
        font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.375em;
        color: #484848;
      }
    }
  }
  .host-description-section {
    &__wrapper {
      border-bottom: 0;
      padding-top: 56px;
      padding-bottom: 24px;
      font-weight: 600;
      &__header {
        margin: 0;
        word-wrap: break-word;
        font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
        font-size: 32px;
        font-weight: 800;
        line-height: 1.125em;
        color: #484848;
        padding-top: 6px;
        padding-bottom: 6px;
      }
      &__description {
        margin: 0;
        word-wrap: break-word;
        font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.375em;
        color: #484848;
      }
    }
  }
  .example-section {
    margin: 48px -12px 24px -12px;
    &:before {
      content: " ";
      display: table;
    }
    &__wrapper {
      height: 320px;
      display: block;
      transition: color .5s ease-in-out;
      color: #484848;
      text-decoration: none;
      background: transparent;
      &:hover {
        p{
          color: #008489;
        }
      }
      &__background-cover {
        height: 200px;
        border: 1px solid #dbdbdb;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin-bottom: 12px;
        &.image-1 {
          background-image: url(../../images/diversity/hospitality.jpg);
        }
        &.image-2 {
          background-image: url(../../images/diversity/world.jpeg);
        }
        &.image-3 {
          background-image: url(../../images/diversity/love.jpeg);
        }
        &.image-4 {
          background-image: url(../../images/diversity/unity.jpeg);
        }
      }
      &__header {
        margin-bottom: 8px;
        font-size: 1.2em;
        font-weight: bold;
        line-height: 1.27;
        letter-spacing: -0.2px;
      }
      &__description {
        font-size: 1.2em;
        font-weight: 300;
        line-height: 1.27;
        letter-spacing: -0.2px;
      }
    }
  }
  .success-tools-section {
    &:before {
      content: " ";
      display: table;
    }
    &__header-wrapper {
      font-weight: 600;
      border-bottom: 0;
      padding-top: 56px;
      padding-bottom: 24px;
      &__header {
        margin: 0;
        word-wrap: break-word;
        font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
        font-size: 32px;
        font-weight: 800;
        line-height: 1.125em;
        color: #484848;
        padding-top: 6px;
        padding-bottom: 6px;
      }
      &__description {
        margin: 0;
        word-wrap: break-word;
        font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.375em;
        color: #484848;
      }
    }
    &__tools-wrapper {
      margin-bottom: 48px;
      margin-top: 24px;
      &:before {
        content: " ";
        display: table;
      }
      &__tools {
        margin-bottom: 15px;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.375em;
        word-wrap: break-word;
        & strong {
          font-weight: bold;
        }
      }
    }
  }
  .partners-section {
    &:before {
      content: " ";
      display: table;
    }
    &__heading-wrapper {
      font-weight: 600;
      border-bottom: 0;
      padding-top: 56px;
      padding-bottom: 24px;
      &__heading {
        margin: 0;
        word-wrap: break-word;
        font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
        font-size: 32px;
        font-weight: 800;
        line-height: 1.125em;
        color: #484848;
        padding-top: 6px;
        padding-bottom: 6px;
      }
      &__description {
        margin: 0;
        word-wrap: break-word;
        font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.375em;
        color: #484848;
      }
    }
  }
  .partners-section-body {
    &:before {
      content: " ";
      display: table;
    }
    &__box {
      width: auto;
      height: 300px;
      display: block;
      padding-top: 32px;
      padding-bottom: 48px;
      padding-left: 48px;
      padding-right: 48px;
      background-color: #fff;
      border: 1px #dbdbdb solid;
      -webkit-transition: border .5s ease-in-out;
      -o-transition: border .5s ease-in-out;
      -moz-transition: border .5s ease-in-out;
      transition: border .5s ease-in-out;
      color: #484848;
      text-decoration: none;
      &:hover {
        border: 1px #008489 solid;
      }
      &__insight {
        height: 50%;
        &:before {
          content: " ";
          display: table;
        }
        &:after {
          clear: both;
        }
        &__heading {
          width: 100%;
          height: 100%;
          display: table;
          position: relative;
          .head-wrap {
            vertical-align: middle;
            display: table-cell;
            margin: 0 auto;
            p {
              font-size: 1.2em;
              font-weight: 300;
              line-height: 1.27;
              letter-spacing: -0.2px;
              margin-top: 0;
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }
  .workplace-section {
    &:before {
      content: " ";
      display: table;
    }
    &__heading-wrapper {
      font-weight: 600;
      border-bottom: 0;
      padding-top: 56px;
      padding-bottom: 24px;
      &__heading {
        margin: 0;
        word-wrap: break-word;
        font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
        font-size: 32px;
        font-weight: 800;
        line-height: 1.125em;
        color: #484848;
        padding-top: 6px;
        padding-bottom: 6px;
      }
      &__description {
        margin: 0;
        word-wrap: break-word;
        font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.375em;
        color: #484848;
      }
    }
  }
  .hire-button {
    margin-top: 32px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 800;
    border-width: 2px;
    padding-left: 22px;
    padding-right: 22px;
    box-shadow: none;
    background: #008489;
    border-color: transparent;
    color: #ffffff;
    width: max-content;
    margin-bottom: 50px;
  }
}

.space-4 {
  margin-bottom: 24px;
}
@media screen and (max-width: 1127px) {
  .diversity {
    .page-container {
      width: 696px;
    }
  }
}

@media screen and (max-width: 767px) {
  .diversity {
    .page-container {
      width: 100%;
      padding: 0 15px;
    }
    .cover-image {
      .cover-image-header-container {
        .cover-image-header {
          .cover-image-text-wrapper {
            .cover-image-text {
              width: 100%;
              margin-left: 0;
              padding: 0 15px;
            }
          }
        }
      }
    }
    .example-section {
      &__wrapper {

        &__header {
          font-size: 16px;
          font-weight: 600;
        }
        &__description {
          font-size: 16px;
        }
      }
    }
    .partners-section-body {
      &__box {
        &__insight {
          &__heading {
            .head-wrap {
              p {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}